{% extends "base.html" %}

{% block content %}
	<div id="body">
		<h1>You are logged in : {{ user.email }}</h1>
		<form id="uploadForm" action="upload" method="post" enctype="multipart/form-data">
			<input type="file" name="inputFile">
			<button type="submit">Upload</button>
			<input id="folderName" type="text" name="folderName">
			<button type="submit">Create New Folder</button>
		</form>
		<form action="/logout">
			<button>Logout</button>
		</form>
		<p>Here are your files:</p>
		<hr>
		{% for item in myFiles %}
			<div id="{{ item.id }}" class="filePost">
				{% if item.isFile %}
					File: {{ item.url }}
				{% else %}
					Folder: {{ item.url }}
				{% endif %}
				<a class="openFileBtn" href="{{ item.url }}/{{ item.filename }}"><p>{{ item.filename }}</p></a>
				<button class="delBtn">Delete</button>
				{% if item.isFile %}
					<input type="text">
					<button class="shareBtn" >Share</button>
				{% endif %}
				<hr>
			</div>
		{% endfor %}
		<p>Here are files shared with you</p>
		<hr>
		{% for item in sharedFiles %}
			<div id="{{ item.id }}" class="filePost">
				{% if item.isFile %}
					File: {{ item.url }}
				{% else %}
					Folder: {{ item.url }}
				{% endif %}
				- shared by - {{ item.owner.username }}
				<a class="openFileBtn" href="{{ item.url }}/{{ item.filename }}"><p>{{ item.filename }}</p></a>
				<hr>
			</div>
		{% endfor %}
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
		var el=$('#body');
		delBtn=el.find('.delBtn');
		shareBtn=el.find('.shareBtn');
		delBtn.on('click',deleteFile);
		shareBtn.on('click',shareFile);

		$('#uploadForm').submit(function (e) {
			e.preventDefault();
			var form = $('form')[0];
			var formData=new FormData(form);
			formData.append('url', window.location.pathname);
			$.ajax({
				url:'/upload',
				data:formData,
				type:'POST',
				contentType:false,
				processData:false,
				success:function (result) {
					if(result=="1")
						window.location.href=window.location.pathname;
				}
			});
		});

		function shareFile(event) {
			$div=$(this).parent();
			fileID=$div.attr('id');
			username=$div.find('input').val();
			$.ajax({
				url:"/share",
				method:'POST',
				data:{username:username, fileID:fileID},
				success:function (result) {
					console.log(result);
					if(result=="3"){
						window.location.href=window.location.pathname;
					}
				}
			});
		}

		function deleteFile(event) {
			$div=$(this).parent();
			fileID=$div.attr('id');
			$.ajax({
				url:"/deleteFile/"+fileID,
				success: function (result) {
					if(result.length){
						console.log(result);
						$div.fadeOut();
						window.location.href=window.location.pathname;
					}
				}
			});
		}
	</script>
{% endblock %}